---
title: API Reference

language_tabs: # must be one of https://git.io/vQNgJ
  - python
  - javascript

toc_footers:
  - <a href="/v2"> testee </a> 


includes:
  - errors

search: true

code_clipboard: true

meta:
  - name: description
    content: Documentation for the Kittn API
---



<%= partial "./api/v1/v1.html.md.erb" %>

<%= partial "./api/v2/v2.html.md.erb" %>